#paper {
  text-align: center;
  overflow: visible !important;
}

#paper svg {
  padding: 10px;
}

#app {
  text-align: center;
}

button  {
  display: inline-block;
}

.options, .option, .button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.options {
  margin-bottom: 10px;
}

.optionTitle {
  font-size: 150%;
}

.option, .button {
  cursor: pointer;
  margin: 10px 0;
}

.option-selected {
  background-color: #6cc5ef;
}

svg {
  overflow: visible;
}